{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
    <title>Examination System</title>
</head>
<body>
    <header id="header-bar">
        <span class="header-left header-footer-link">About</span>
        <span class="header-left header-footer-link">Store</span>
        <a class="btn btn-info header-right sign-in-button" href="{% url 'login-page' %}">Sign In</a>
        <span class="header-right header-footer-link">Options</span>
        <span class="header-right header-footer-link">Images</span>
        <span class="header-right header-footer-link">Gmail</span>
    </header>
      
    <div id="main">
        <img src="https://hstu.ac.bd/img/hstu_logo_.png" alt="HSTU logo" width="15%">
        
        <br>
    
        <form class="search" method="post" action="{% url 'search-page' %}">
            {% csrf_token %}
            
            <div id="search-box-outer">
                <input type="text" name="search" class="form-control search-box-inner" placeholder="Search events" />
                <span>
                    <img class="mic" src="https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png" alt="voice command button">
                </span>
            </div>
            
            <br>
            
            <div id="main-buttons-div">
                <input type="submit" class="search-button" value="Search">
                <input type="submit" class="search-button" value="I'm Feeling Lucky">
            </div>
        </form>
    </div>
        
    <footer id="footer-bar">
        <span class="footer-left header-footer-link">Advertising</span>
        <span class="footer-left header-footer-link">Business</span>
        <span class="footer-right header-footer-link">Settings</span> 
        <span class="footer-right header-footer-link">Terms</span>
        <span class="footer-right header-footer-link">Privacy</span>
    </footer>
</body>
</html>