{% load static %}
{% load widget_tweaks %}

<form action="" method="POST">
  {% csrf_token %}

  <!-- Email -->
  <p style="color:red;"> </p>
  <div class="form-group">
    <label for="email"><i class="zmdi zmdi-email"></i></label>
    {% render_field user.email class='form-control' placeholder='Email' %}
  </div>

  <!-- Register Button -->
  <div class="form-group form-button">
    <input
      type="submit"
      name="signup"
      id="signup"
      class="form-submit"
      value="Register"
    />
  </div>
</form>
