{% extends "dashboard-base.html" %}
{% load static %}
{% block content %}

<h1>Dashboard</h1>

<div class="create-new">
  <a class="nav-link btn btn-success create-new-button" href="{% url 'full-routine' %}">
    See Full Routine
  </a>
</div>

{% if is_staff and routines|length %}
<div class="row ">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pending Routines</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> Routine Name </th>
                <th> Department Name </th>
                <th> Start Date </th>
              </tr>
            </thead>
            <tbody>
              {% for routine in routines %}
              <tr>
                <td> {{routine.name}} </td>
                <td> Department Name </td>
                <td> Start Date </td>
                <td>
                  <a class="btn btn-success" href="{% url 'routine-view' routine.id  %}">View</a>
                </td>
                <td>
                  <a class="btn btn-danger" href="{% url 'reject-routine' routine.id  %}">Reject</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Current Exams -->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Current Exams</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Exam Date</th>
                <th>Exam Time</th>
                <th>Room Number</th>
                <th>Course Code</th>
                <th>Supervisor</th>
                <th>Examiners</th>
              </tr>
            </thead>
            <tbody>
              {% for exam in current_exams %}
              <tr>
                <td>{{ exam.exam_date }}</td>
                <td>{{ exam.exam_time }}</td>
                <td>{{ exam.room_number }}</td>
                <td>{{ exam.course }}</td>
                <td>{{ exam.supervisor }}</td>
                <td>
                  {% for teacher in exam.examiners.all %}
                  <p> {{ teacher }} </p>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upcomming Exams -->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Upcomming Exams</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Exam Date</th>
                <th>Exam Time</th>
                <th>Room Number</th>
                <th>Course Code</th>
                <th>Supervisor</th>
                <th>Examiners</th>
              </tr>
            </thead>
            <tbody>
              {% for exam in upcomming_exams %}
              <tr>
                <td>{{ exam.exam_date }}</td>
                <td>{{ exam.exam_time }}</td>
                <td>{{ exam.room_number }}</td>
                <td>{{ exam.course }}</td>
                <td>{{ exam.supervisor }}</td>
                <td>
                  {% for teacher in exam.examiners.all %}
                  <p> {{ teacher }} </p>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Past Exams -->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Past Exams</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Exam Date</th>
                <th>Exam Time</th>
                <th>Room Number</th>
                <th>Course Code</th>
                <th>Supervisor</th>
                <th>Examiners</th>
              </tr>
            </thead>
            <tbody>
              {% for exam in past_exams %}
              <tr>
                <td>{{ exam.exam_date }}</td>
                <td>{{ exam.exam_time }}</td>
                <td>{{ exam.room_number }}</td>
                <td>{{ exam.course }}</td>
                <td>{{ exam.supervisor }}</td>
                <td>
                  {% for teacher in exam.examiners.all %}
                  <p> {{ teacher }} </p>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}